/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

html {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
}

body { 
	background: #C0202B;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
}

a {transition:color .3s ease, background-color .3s ease, opacity .3s ease;}

.wrap {
   background: #fff;
}

.img-container{
   padding-bottom: 100%;
}

.page-header{
   display: none;
}

.home-top{
   background: url(../img/top-banner.jpg) no-repeat;
   background-size: cover;
}

.red {color: #bf2129;}

/* ==========================================================================
   Header
   ========================================================================== */

/* ----- NAVBAR ----- */

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
color: #FFF;background-color: rgba(191, 33, 41, 1);}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
border-color: transparent;}

#menu-primary-navigation li:hover {background-color: rgba(191, 33, 41, 1);}
#menu-primary-navigation li a {font-family: 'proxima-nova'; font-weight: 200; color: #757575;text-transform: uppercase;}
#menu-primary-navigation li a:hover {color:#FFF;}
#menu-primary-navigation li.active{color: #fff; background-color: #bf2129;}
#menu-primary-navigation .menu-create > a, #menu-primary-navigation .menu-explore > a{color: #f27514;}

.navbar-brand{padding: 0px 15px!important;}
/* ==========================================================================
   HOME
   ========================================================================== */
.banner { }

#artist-content{
   display: none;
}

header{
   background-color: transparent!important;
   border-color: transparent!important;
   margin-bottom: 0px!important;
   border-width: 0px!important;
}

header>.container{
   background: #f0f0f0;
}

.banner-box {position: relative;top: 50px;}
.welcome-box {background-color: rgba(255,255,255,.8);padding: 10px;}
.welcome-box h2 {font-size: 60px;font-weight: 100;margin:0;}
.welcome-box h4 {font-weight: 100;font-size: 36px;margin:0;}

.explore h3 {
color: #000;
font-weight: 100!important;
background-color: rgba(255, 255, 255, .8);
padding: 4%;
width: 100%;
text-align: center;
font-size: 44px;
transition:background-color .3s ease, color .3s ease;
}
.explore h3:hover, .explore h3:active, .explore h3:focus, {background-color: #d42c35;color:#FFF;}

.create h3 {
color: #FFF;
font-weight: 100!important;
background-color: rgba(242, 117, 20, .8);
padding: 4%;
width: 100%;
text-align: center;
font-size: 44px;
transition:background-color .3s ease;
}
.create h3:hover, .create h3:active, .create h3:focus, {background-color: #d42c35;}

.home-bottom {
padding-top: 5%;
}
.week-header{
   background: #C0202B;
}
.week-header h3{
   color: #fff;
   font-size: 44px;
   font-weight: 200;
}
.week-header p{
   color: #fff;
   font-size: 13px;
   font-weight: 200;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }




/* ==========================================================================
   CHAIN SINGLE
   ========================================================================== */
   .modal-dialog{
      width: 75%;
   }
   /* =========================
      Artist Modal
      ========================= */
.profile-pic>img{
   border-radius: 50%;
height: 50px;
}
.profile-pic{
float: left;
}
.word-cloud{
   text-align: center;
}

   /* ==========================================================================
   ARTIST SINGLE
   ========================================================================== */
   .artist-socials{
      list-style: none;
      padding-left: 0px;
   }

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.artist-sidebar {
width: 25%;
float: left;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.home-top{
   padding-bottom: 20%;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
