/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { 
background: #C0202B;
font-family: "proxima-nova", sans-serif!important;
font-style: normal;
font-weight: 100;
}

.wrap {
   background: #fff;
}

.img-container{
   padding-bottom: 100%;
}

.page-header{
   display: none;
}

.home-top{
   background: url(../img/top-banner.jpg) no-repeat;
   background-size: cover;
}

.red {color: #bf2129;}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

#artist-content{
   display: none;
}

header{
   background-color: transparent!important;
   border-color: transparent!important;
   margin-bottom: 0px!important;
   border-width: 0px!important;
}

header>.container{
   background: #f0f0f0;
}

.banner-box {position: relative;top: 50px;}
.welcome-box {background-color: rgba(255,255,255,.8);padding: 10px;}
.welcome-box h2 {font-size: 60px;font-weight: 100;margin:0;}
.welcome-box h4 {font-weight: 100;font-size: 36px;margin:0;}

.explore h3 {
color: #FFF;
font-weight: lighter!important;
background-color: #bf2129;
padding: 3%;
width: 55%;
text-align: center;
font-size: 44px;
transition:background-color .3s ease;
}

.explore h3:hover, .explore h3:active, .explore h3:focus, {background-color: #d42c35;}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

/* ==========================================================================
   CHAIN SINGLE
   ========================================================================== */
   .modal-dialog{
      width: 75%;
   }


   /* ==========================================================================
   ARTIST SINGLE
   ========================================================================== */
   .artist-socials{
      list-style: none;
      padding-left: 0px;
   }

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.artist-sidebar {
width: 25%;
float: left;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.home-top{
   padding-bottom: 20%;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
