/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

html {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
}

body {
	background: #FFF;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4em;
}

a {transition:color .3s ease, background-color .3s ease, opacity .3s ease; cursor: pointer;}
a:hover, a:focus {text-decoration: none!important;}

.wrap {
   background: #fff;
}

.single-chains .wrap{
  max-width: 1170px;
}
.single-chains .modal-content {
max-width: 1170px;
margin: 0 auto;
}
.center {text-align:center;margin:0 auto;}

/* For full width backgrounds/divs */
.container-full {
width:100%;
}

.img-container{height:100%; transition: -webkit-filter .3s ease;} /* Thumbnail posts */


.img-container:hover {
-webkit-filter: brightness(115%);
filter: brightness(115%);
-moz-filter: brightness(115%);
}

.single-post .main img {max-width:100%!important; height:auto;}

.page-header{
   display: none;
}

.home-top{
   background: url(../img/top-banner.jpg) no-repeat;
   background-size: cover;
}
.center img {
width: 100%;
}
p {
font-size: 16px;
line-height: 1.5em;
font-weight: 300;
}

.red {color: #bf2129;}

p::selection {color: #FFFFFF;background-color: #bf2129;}

.grey{
   background: #F0F0F0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open
.dropdown-toggle.btn-default {
filter: brightness(115%);
-moz-filter: brightness(115%);
-webkit-filter: brightness(115%);
}


/* All Modals */

.modal {margin:0px auto;}

.modal-content {
margin-top:5%;
box-shadow: 0 0 3px 3px rgba(48, 48, 48, .2);
-webkit-box-shadow: 0 0 3px 3px rgba(48, 48, 48, .2);
-moz-box-shadow: 0 0 3px 3px rgba(48, 48, 48, .2);
border-radius:0!important;
-webkit-border-radius:0!important;
-moz-border-radius:0!important;
}

.modal-dialog {margin-top:5%;}
/*.thank-you {
z-index: 0;
overflow: hidden;
}
.modal-backdrop.fade.in {
z-index: -1;
}*/
.panel-body>form {
margin: 0 auto;
width: 100%;
}
.modal-body .img-video-tab img.attachment-thumbnail.wp-post-image {
width: initial;
max-width: 100%;
height: auto;
margin: 0 auto;
}
/* ==========================================================================
   Header
   ========================================================================== */

/* ----- NAVBAR ----- */

/*.container-nav {width: 1170px;margin: 0 auto;}*/

.navbar {min-height:60px;}
.navbar-collapse {max-height: 500px;}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
color: #FFF!important;background-color: rgba(191, 33, 41, 1);}
.navbar-default {background-color: #f8f8f8!important;}

.navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
background-color: #BF2129;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {border-color: transparent;}
nav.collapse.navbar-collapse {background-color: #f8f8f8;}

#menu-primary-navigation li:hover {background-color: rgba(191, 33, 41, 1);}
#menu-primary-navigation li a {font-family: 'proxima-nova'; font-weight: 200; color: #757575;text-transform: uppercase; padding: 15px 15px;}
#menu-primary-navigation li a:hover {color:#FFF;}
#menu-primary-navigation li.active{color: #fff; background-color: #bf2129;}
#menu-primary-navigation .menu-create > a, #menu-primary-navigation .menu-explore > a{color: #f27514;}

.navbar-brand {padding: 1% 7% 1% 0;!important;margin-left: 15px;}
.nav>li {transition: background-color .1s ease;}
.navbar .form-group {padding: 7px 5px;}


/* ==========================================================================
   HOME
   ========================================================================== */
.banner { }

#artist-content{
   display: none;
}

header{
   background-color: #F1F6F5!important;
   border-color: transparent!important;
   margin-bottom: 0px!important;
   border-width: 0px!important;
}

header>.container{
   background: #f8f8f8;
}

.banner-box {position: relative;margin-top: 50px;}
.welcome-box {background-color: rgba(255,255,255,.9);padding: 3%;}
.welcome-box h2 {font-size: 48px;font-weight: 100;margin:0;}
.welcome-box h4 {font-weight: 100;font-size: 36px;margin:0;}

.create-but>h3,
.explore-but>h3 {
color: #FFF;
font-weight: 100!important;
background-color: rgba(242, 117, 20, .9);
padding: 4%;
width: 100%;
text-align: center;
font-size: 44px;
transition:background-color .3s ease;
}

.create-but>h3:hover,
.explore-but>h3:hover {background-color: #F39437;}

span.chain-number-small {
font-size: 34px;
}

.home-bottom {
padding-top: 3%;
padding-bottom: 3%;
}
.week-header{
   background: #C0202B;
   padding: 2% 1% 1% 1%;
}
.week-header h3{
   color: #fff;
   font-size: 44px;
   font-weight: 200;
}
.week-header p{
   color: #fff;
   font-size: 13px;
   font-weight: 200;
}
.week-container{
   border: 3px solid #fff;
   border-radius: 5px;
   outline: 1px solid #F0F0F0;
}
.week-art {
padding: 0px;
min-height:500px;
}
.week-art>img{
   width: 100%;
}
.week-header h3{
   margin-top: 0px;
   margin-bottom: 0px;
}

.week-header .btn-container {
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
}


.chain-btn.btn {
background: #D62C35;
border-radius: 0px;
padding: 20px;
font-size: 20px;
color: #fff;
font-weight: 100;
transition:background-color .3s ease;
width:100%;
}

.chain-btn.btn:hover {background: #DD464E;}

.submit-btn h3{
font-size: 26px;
font-weight: 100;
}

.submit-btn {
background: #F37512;
border-radius: 0px;
width:100%;
}

.submit-btn:hover {
background: #F39437;}

.btn-container {
display: inline-block;
}

.MyZebra_Form input.myzebra-password, .MyZebra_Form input.myzebra-text, .MyZebra_Form select, .MyZebra_Form textarea {
padding: 6px 5px 5px 5px;
}
.myzebra-terms{
   display: none!important;
}
.cred-label{
   display: none;
}
.cred-taxonomy-auxilliary{
   display: none;
}
form#cred_form_661_1 {
display: inline-block;
}
input.myzebra-text {
width: 200px!important;
}
#submit-panel,.submit-panel, .submit-panel-btn {
background-color: #F37717;
color:#fff;
min-height: 100px;
border: 0px;
outline: none!important;
}
.panel-body {
text-align: center;
}
.panel{
   border: 0px;
   border-radius: 0px!important;
}

.panel-group .panel+.panel {
margin-top: 0px;
}

.MyZebra_Form input.myzebra-password, .MyZebra_Form input.myzebra-text, .MyZebra_Form input[type="text"] {
height: 25px;
border-radius: 5px;
background: #fff;
margin-top: 3px;
}

.MyZebra_Form div.myzebra-form-message {
border: none!important;
background: transparent!important;
position: relative!important;
overflow: hidden!important;
background-image: none!important;
height: 30px!important;
position: absolute!important;
top: 0px!important;
right: 10px!important;
width: 240px!important;
}

.tag-chain p {
color: #fff;
margin-bottom: 0px;
padding-left: 0px;
}

.tag-chain i{
padding: 8px 0px 0px 10px;
color: #fff;
}

.home .tag-btn:hover, .home .tag-btn:hover .btn, .tag-btn .btn-primary:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #C0202B;
border-color: #C0202B;
}
.home .tag-btn{
   background: #B7B7B7;
}

.myzebra-recaptcha {width:320px; margin:0px auto!important;}

.recaptcha_only_if_privacy {
text-align: right;
display: none;
}

.cred-taxonomy {margin-bottom:15px;}

/* MAILCHIMP STYLES*/
div.row.mail-list {
background: #ECECEC;
padding-top: 3%;
padding-bottom: 3%;
text-align: center;
}
.mail-list h4{
   color: #BF2129;
font-weight: 100;
font-size: 24px;
}
.mail-list p{
   font-size: 20px;
}
#mc_embed_signup input {
border: 0px solid #999!important;
height: 58px;
margin: 0!important;
}
span.center {
margin-left: 1%;
margin-right: 1%;
}


.post-password-form label {display:inline-block!important;}
.post-password-form {text-align:center; padding: 60px;}

#mc-embedded-subscribe {
float: right;
clear: none!important;
}
input#mce-EMAIL {
float: left;
clear: none;
font-size: 24px;
width: 72%!important;
}
.pad-none{
    padding: 0px!important;
}

#mc_embed_signup input.button{
    background-color: #BE2128!important;
    border-radius: 0px;
    width: 27%!important;
    min-width: 0px!important;
    height: 58px!important;
}
#mc_embed_signup form{
    padding: 0px!important;
}
/*END MAILCHIMP*/


input#cred_form_661_1_form_submit_1,
#cred_form_504_2_form_submit_2,
#cred_form_1908_2_form_submit_2,
.exhibit .cred-captcha {display:none;}

a.myzebra-add-new-term {
background-color: #F69143!important;
border: none;
border-radius: 5px!important;
color: #fff!important;
font-weight: 200;
margin-top: 3px;
font-size: 14px!important;
padding: 5px 10px!important;
margin-left: 3px;
display: inline-block;
}

.home-events {
   padding: 25px 10%;
   font-weight: 100;
   color: #000;
   background: url(../img/event-bg.jpg) no-repeat;
   background-size: cover;
}

.home-events p{
   font-size: 22px;
}

.home-events h1{
   font-size: 54px;
   color: #C0202B;
   font-weight: 100;
}

.btn-default {
color: #fff;
font-weight: 100;
background-color: #C0202B;
border: none;
border-radius: 0;
}

.home-events .btn-default {
font-size: 24px;
transition: background-color .3s ease, color .3s ease;
width: 100%;
text-align: center;
white-space: normal;
}

.btn-primary {
font-weight: 100;
font-size: 14px;
width: 100%;
background: #B7B7B7;
border: transparent!important;
border-radius: 0px!important;
height: 30px;
}

.tag-btn button {
padding: 30px 0;
}


/* ----- Email sign up Section ----- */

#mc_embed_signup input.button {
font-family: 'proxima-nova';
font-weight: 100;
}

#mc_embed_signup input.email {
padding: 15px!important;
font-family: 'proxima-nova';
font-weight: 100;
}


/* ----- Home News Section ----- */

.home-news a h4 {
color: #BF2129;
font-weight: 100;
font-size: 35px;
}

.home-news h5 {
font-size: 22px;
font-weight: 100;
}

.home-news-main {padding: 7% 0;}

p.date {
color: #7e7e7e!important;
text-transform: uppercase!important;
font-size: 13px!important;
}

.home-news p {
color: #000000;
font-size: 18px;
}

.home-news a {
color: #BF2129;
text-transform: uppercase;
}


.home-news .col-sm-4 .img-container {padding-bottom: 100%;} /* Featured post */
.home-news .news-item .img-container {padding:25%; }
.thank-you {text-align: center; margin:0px auto; overflow: hidden;}
/* ==========================================================================
   ABOUT
   ========================================================================== */

.about-body-copy {
font-size: 15px;
font-weight: 300;
line-height: 1.5;
margin:3% 0;
}

body.about .container {
margin: 0 auto!important;
}

.about-body-copy h1 {
font-size: 52px;
font-weight: 100;
color: #ac3234;
}

/* Remove About banner from press kit page */
body.press-kit-3 img#consenses-about-banner {
display: none;
}

/* ==========================================================================
   NEWS (reel)
   ========================================================================== */

.news-grid {margin:0 auto;margin-top:3%!important;}
body.blog .img-container {padding-bottom: 70%;}
.news-grid h2 {
color: #ac3234;
font-size: 32px;
font-weight: 100;
height: 65px;
overflow: hidden;
}
.news-grid a p {font-size: 16px;color:#707070;margin-top: 3%;}
.border-only {border: 1px solid #E0E0E0;padding: 1%;margin-bottom:10%;min-height: 411px;}
.continue-div {
transition: background-color .3s ease;
text-align: right;
display: table-caption;
}

.continue-div:hover {background-color:#ECECEC; }
a.continue {color: #ac3234;font-weight: bold;}

body.blog .news-excerpt {height:75px; overflow:hidden;}

/* ----- Individual Posts ----- */

body.single-post article {margin-top: 30px;}
body.single-post {font-size: 16px;line-height: 1.5em;font-weight: 300;}


/* ==========================================================================
   CHAIN SINGLE
   ========================================================================== */

.vid-container > img {margin: 0 auto;}
.chain-info {text-align: center;}
body.single-chains .date {display: none;}
.chains {margin-top: 3%;}

body.single-chains .entry-content h1 {
color: #303030;
font-size: 62px;
font-weight: 100;
margin-bottom: 5%;
margin-top: 5%;
}
.single-chains div.flex-viewport .description {
max-height: 1475px;
overflow-y: auto!important;
}
.chain-info {font-size: 18px;}
body.single-chains .col-sm-6.col-sm-offset-3 {text-align: center;}

.tag-and-view h4{
font-weight: 100!important;
font-size: 23px!important;
color: #fff!important;
margin: 0px;
}
.modal .tag-and-view {

}

body.single-chains h5 {
font-weight: 100!important;
font-size: 18px!important;
color: #000!important;
margin: 0px;
}

#submit-panel .panel-heading {
color: #fff;
}

body.single-chains button.btn.btn-view {
margin: 5% 0%;
}

.border-only-chain {
border: 1px solid #E0E0E0;
margin: 4px;
}

.border-only-chain-children {
border: 1px solid #E0E0E0;
margin: 1px;
padding:3px;
}

body.single-chains form#cred_form_661_1 {
float: none;
}

body.single-chains .MyZebra_Form input.myzebra-password, body.single-chains .MyZebra_Form input.myzebra-text, body.single-chains .MyZebra_Form input[type="text"] {
height: 35px;
border-radius: 5px;
background: #EEEEEE;
margin: 10px;
padding: 5px;
font-size: 20px;
text-align: center;
font-weight: 300;
color: #727272;
}

body.single-chains input#cred_form_661_1_form_submit_1, body.single-chains .MyZebra_Form input.myzebra-button, body.single-chains .MyZebra_Form input.myzebra-reset, body.single-chains .MyZebra_Form input.myzebra-submit, body.single-chains .MyZebra_Form label.myzebra-button {
background: #F69143;
border: none;
border-radius: 5px;
color: #fff;
font-weight: 200;
margin-top: 3px;
font-size: 20px;
margin: 10px;
height: 35px;
transition: background .3s ease;
padding: 5px;
}

body.single-chains input#cred_form_661_1_form_submit_1:hover {background:#F7832A;}

body.single-chains button.btn.btn-view {
margin: 5% 0% 2% 0%;
background: #FFF;
font-size: 18px;
color: rgb(102, 102, 102);
transition:color .3s ease;
}

body.single-chains button.btn.btn-view:hover {color: #BF2129;}

#word-accord {margin: 10% 0%;}

body.single-chains .tag-and-view {margin-top: 100px;}
body.single-chains .video-montage, body.single-chains .the-chain {margin-top: 100px;}


body.single-chains .modal {max-width:740px;}

.video-montage h2.aligncenter,
.the-chain h2.aligncenter {
font-weight: 100;
color: #A2A2A2;
margin-bottom: 20px;
font-size: 42px;
}

.single-chains .submit-interp h4 {
font-weight: 100!important;
font-size: 23px!important;
color: #fff!important;
margin: 25px 0px 0px 0px;
}

   /* =========================
      Artist Modal
      ========================= */

.modal-sidebar .profile-pic>img{border-radius: 50%;height: 50px;}
.modal-sidebar .profile-pic{float: left;}
.modal-sidebar .artist-circle {margin-left:10px;}
.modal-sidebar .artist-circle img {height:100%;width:100%;}
.biz-card .myzebra-form-message {
display: none!important;
}

.single-art-modal .nav-tabs {border-bottom:none;height: 40px;}
.single-art-modal .modal-header {padding: 0px;border-bottom:none!important;min-height: 20px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #555;background-color: #CCC;border-bottom-color: transparent;cursor: default;color:#FFF;height: 40px;}
.single-art-modal .nav>li {padding:0;transition: background-color .1s ease;text-align:center;}
.nav-tabs>li>a {
margin-right: 0px;
line-height: 1.428571429;
border: 0px;
border-radius: 0px;
}

li.word-cloud-tab a {
background-color: #bf2129;
color: #FFF;
}

li.what-see-tab a {
background-color: #F37717;
color: #FFF;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #CCC;
}

.modal-header .close {
margin-top: 0px;
padding: 10px 15px;
position: absolute;
top: 10px;
right: 10px;
z-index: 99999;
border: 1px solid #999;
}

.word-cloud {
text-align: center;
max-width: 730px;
margin: 0 auto;
font-weight: 300;
background: #fff;
padding: 15px;
border-radius: 50px;
}

.word-panel {background:#C0202B;}

/*.item img {width: 100%;}
.item {width: 24.555%;}
*/

.sm2_link>.fa :before, .sm2_paused>.fa:before {content: "\f04b";}
.sm2_playing>.fa:before{content: "\f04c";}

.artist-sidebar {border-left: 1px solid #CCC;}

.artist-meta p {
font-size: 14px;
margin-bottom: 0;
}

.modal-sidebar .artist-socials {
list-style: none;
padding-left: 0px;
padding-top:10px;
border-right:none;
margin-top: 10px;
}

.artist-sidebar ul.artist-socials li:nth-child(1) {
border-bottom: none;
}

.artist-sidebar span.red-bold {
color: #BF2129;
font-weight: bold;
width: 100%;
display: block;
}

.artist-sidebar a {
color: #bf2129;
}

.artist-sidebar .art-title {
font-size: 22px;
font-weight: 500;
line-height: 1.1;
border-top: 1px solid #CCC;
padding-top: 10px;
}

.artist-sidebar .medium {
font-size: 18px;
font-weight: 500;
line-height: 1.1;
margin:0px;
color:#929292;
padding-bottom:10px;
}

.artist-sidebar .art-description {
border-top: 1px solid #CCC;
padding-top: 10px;
font-size: 15px;
font-weight: 300;
color: rgb(60, 60, 60);
}

.artist-sidebar .inspiration-piece {
border-top: 1px solid #CCC;
padding-top: 10px;
margin-top: 10px;
}

.single-art-modal .modal-footer {display:none;}


/* Makes artwork in modal nice and big */
.img-video-tab img.attachment-large.img-responsive {
width: 100%;
height: auto;
}

.biz-card-information div.col-sm-12:nth-child(1) {
font-size: 16px;
font-weight: 600;
}

.listen-player {
background-color: #F1F1F1;
padding: 20px;
margin-bottom: 15px;
}

.listen-player h3 {margin-bottom: 0!important;}

/* ==========================================================================
   CHAIN ARCHIVE
   ========================================================================== */
.single-chain{
margin-bottom: 50px;
}
.grey > i {
float: left;
}
.chain-title{
   text-transform: uppercase;
}
.chain-meta{
   text-align: right;
}
.single-chain a{
   text-decoration: none;
}


/* ==========================================================================
   ARTIST [Reel]
========================================================================== */

.artists .artist {padding: 0!important; overflow:hidden;}
.artists.col {margin-top: 30px;margin-bottom:30px;}

.img-container-artists {
height: auto;
padding: 40%;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
transition: filter .3s ease, -webkit-filter .3s ease, -moz-filter .3s ease;
background-position: 50% 0px!important;
}

.img-container-artists:hover,
.artists .artist .artist-info:hover {
	-webkit-filter: grayscale(0%) brightness(115%);
	-moz-filter: grayscale(0%) brightness(115%);
	filter: grayscale(0%) brightness(115%);
}

.row.profile-pic {
margin-bottom: 20px;
}

.artists .artist .artist-info {
text-align: center;
background: rgba(191, 33, 41, 0.8);
margin: 0px;
padding: 10px;
padding-top: 5px;
color: #fff;
height: 70px;
width: 100%;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}

.artist-name {
margin-top: 3px;
}

.artists .artist:hover .artist-info {
opacity: 1;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
filter: alpha(opacity=1);
}




/* ==========================================================================
   ARTIST SINGLE
========================================================================== */

body.single-artists article {margin-top: 30px;}

body.single-artists p.date {
display: none;
}

.artist-socials{
list-style: none;
padding-left: 0px;
margin-bottom: 0;
font-size:13px;
padding-top: 5px;
}

body.single-artists h1 {
font-size: 48px;
font-weight: 100;
color:#000;
margin:0px;
}

body.single-artists h3 {
font-size: 22px;
font-weight: 600;
color:#7b7b7b;
margin:0px 0px 4% 0px;
}

body.single-artists article p {
font-size: 16px;
color: #404040;
line-height: 1.5;
font-weight: 300;
}

body.single-artists .img-cont {
background-color: #EEE;
height: auto;
background-image: url('/wp-content/themes/consenses/assets/img/logo-footer.png');
background-repeat: no-repeat;
background-position: center center;
}

body.single-artists .profile-pic .img-cont {
height: 0px;
padding-bottom: 100%;
background-position: 50% 0px!important;
}

.biz-card {overflow: hidden;border-bottom: 1px solid #CCC;margin-bottom:20px;}

.single-artists .myzebra-form-message {
display: none;
}

div.col-sm-12.email-me-please {
border: none!important;
}

.row.form-col .col-sm-12 {
border: none!important;
}

/* NAME */ .biz-card .col-sm-8 {
font-size: 26px;
font-weight: 600;
color: #434343;
border-right: 1px solid #CCC;
padding: .3%;
padding-left: 3%;
overflow: hidden;
line-height: 1.1;
}

.biz-card .col-sm-8.social-col {
font-weight: 600;
color: #434343;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
height: 45px;
overflow: auto;
line-height: 1.1;
}

body.single-artists span.email {
font-size: 12px;
font-weight: 100;
}

ul.artist-socials a {
font-size: 13px;
padding: 1%;
display: inline-block;
max-width: 200px;
overflow: hidden;
height: 18px;
}

ul.artist-socials li {padding-left: 5px;}
.artist-socials li i {padding-left: 10px;padding-bottom: 3px;}

/* Borders */
.biz-card-information {border:1px solid #CCC;}
.biz-card .col-sm-4 {height:45px;}
.biz-card-website {
border-bottom: 1px solid #CCC;
height: auto;
padding-top:2px;
font-size: 12px;
overflow: auto;
line-height: 1;
}

.biz-card-website .col-sm-8 {border-left: 1px solid #CCC;}
.social-col {padding:0;}
.border-bottom {border-bottom:1px solid #CCC;}

.thumbnail-art-img {
background-color: #CCC;
height: 173px;
}

.socials-logo-row {
border-bottom: 1px solid #CCC;
}

div.col-sm-6.social-img img {
width: 80%;
margin: 0 auto;
}

.row.email-col {
overflow: hidden;
}

.row.email-col p {
font-size: 13px;
margin: 2px;
}

form#cred_form_856_1 {
width: 90%;
margin: 0 auto;
margin-top: -3px;
}

input#cred_form_856_1_email {
background-color: #ECECEC;
}

.create .myzebra-submit,
.single-chains .myzebra-submit {
display: none;
}

body.single-artists input[type=text] {
width: 60%!important;
}

input#cred_form_856_1_form_submit_1 {
background-color: #F37717;
border: none;
border-radius: 5px;
color: #FFF;
margin-left: 7px;
margin-top: 3px;
font-weight:300;
}

div.row.artist-artwork {
margin-bottom: 50px;
}

.artist-artwork .item {padding:15%;}

.location h4,
.mediums h4,
.email-address h4 {
font-size: 18px;
font-weight: 500;
color: #ACACAC;
margin-bottom:0px;
}

.email-address {margin-bottom: 30px;}

body.single-artists p.p1 {
margin-top: 30px;
}

.biz-card-information span.location p {
color: #777;
font-size: 12px;
margin:0;
}



/* ==========================================================================
   Events
========================================================================== */

#tribe-events {margin-top: 30px;}
.row.container {margin: 0 auto;}
body.events-list img#consenses-about-banner {display: none;}

h2.tribe-events-page-title {
color: rgba(191, 33, 41, 1);
font-size: 42px;
font-weight: 100;
}

#tribe-events-content a, .tribe-events-event-meta a {
text-decoration: none;
color: rgba(191, 33, 41, 1);
font-weight: 300;
}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, #tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover {
background-color: #E4E4E4;
}

a.tribe-events-read-more {
color: #FFF!important;
background-color: rgba(191, 33, 41, 1);
padding: 1%;
margin-top: 2%;
display: block;
transition: background-color .3s ease;
}

a.tribe-events-read-more:hover {background-color: rgba(224, 70, 77, .8);}

/* ==========================================================================
   CHAINS [Reel]
   ========================================================================== */

.row.container.chains-reel {margin-top: 30px;}
.chain-border-only {padding: 2%;border: 1px solid #E2E2E2;}
.grey {background: #F0F0F0;padding: 2%;}
.grey > i {float: left;color: #868686;font-size: 18px;}
.chain-meta {text-align: right;color: #868686;font-weight: 500;}
body.post-type-archive-chains .img-container,
body.explore .img-container {background-size: 115%!important;padding-bottom: 50%;}
.chain-padding {margin-top: 2%;}


/* ==========================================================================
   CREATE
   ========================================================================== */

.kill-row {
margin-left: 0px;
margin-right: 0px;
}

.kill-row .submit-panel-btn {
padding: 0px;
width: 100%;
}

.create-opening {
text-align: center;
margin-top: 3%;
margin-bottom: 6%;
}

#cred_form_504_1_form_submit_1,
#cred_form_661_2_form_submit_2 {
display: none;
}

.create-opening h1 {
color: #E4E4E4;
font-weight: 100;
font-size: 80px;
margin-bottom: 2%;
}

.create-opening p {
font-size: 20px;
font-weight: 300;
}

.row.create-background-row {
background-color: #F6F6F6;
min-height: 330px;
border: 1px solid #E4E4E4;
overflow: hidden;
margin-bottom: 2%;
}

body.create .tag-chain {
overflow: hidden;
}

.create-details h1 {font-size: 26px;margin-bottom:0;}
p.mediums .fa, p.mediums .glyphicon {color: #BCBCBC;font-size: 16px;}
p.mediums a {color: #A3A3A3;font-weight: 500;font-size: 16px;}

.artist-circle {
border-radius: 50%;
width: 50px!important;
height: 50px!important;
border: 2px solid #FFF;
overflow: hidden;
-webkit-box-shadow: 0 0 3px 3px rgba(000,000,000,1);
box-shadow: 0px 0px 3px 3px rgba(218, 218, 218, .9);
}
.create .tag-and-view h4, .modal .tag-and-view h4{
   white-space: normal;
   font-size: 18px!important;
}
.artist-circle:hover {
	-webkit-filter: brightness(105%);
	-moz-filter: brightness(105%);
	filter: brightness(105%);
}

.single-art-modal p.website a {
font-size: 13px;
word-wrap: break-word;
/* line-height: 0px; */
}

.single-art-modal p.medium {
font-size: 13px;
margin-bottom: 0;
padding: 0;
}
.create #submit-panel, .submit-panel, .submit-panel-btn{
   padding: 4px 2px;
   width:100%;
}
.create-artist-details h3 {
color: #BF222B;
font-size: 16px;
margin:0;
}

.create-details a {color: #BF222B;}
.col-sm-9.create-artist-details {
border-right: 1px solid #D8D8D8;
min-height: 75px;
}

.btn.create-btn-create {
background-color: #F88A28;
color: #FFF;
width: 100%;
height: 77px;
border-radius: 0;
font-size: 30px;
font-weight: 200;
transition:opacity .3s ease;
}

.btn.create-btn-create:hover {opacity:.8;}

.small-create {
font-size: 50%;
width: 100%;
display: block;
line-height: 1;
}

.create .img-container.music-img-container {
background-position-y: 100%!important;
}

/*.col-sm-6.create-artwork.img-container.imgLiquid_bgSize.imgLiquid_ready {
background-size: 110%!important;
background-position: -50px -50px!important;
}
*/

.tag-btn .btn-primary {height: 100px;}
.tag-btn .btn-primary {background:#C0202B;}
.tag-btn .btn-primary.collapsed {background:#B7B7B7}
.row.tag-row {padding: 0px 10px 10px 10px;}
.tag-row .tag-chain {background-color:transparent;border-right: 1px solid #D8D8D8;padding-right: 2%;}
.tag-row .tag-chain p {color: #202020;}
.tag-row .tag-chain i {color:#202020;}
.tag-row {padding: 2%;border-top: 1px solid #D8D8D8;}
.border-top {border-top: 1px solid #D8D8D8;padding:2%;}
.col-sm-6.border-top.submit.col {padding: 1%;}

.tag-row .MyZebra_Form input.myzebra-password,
.tag-row .MyZebra_Form input.myzebra-text,
.tag-row .MyZebra_Form input[type="text"] {
background: #DDD;
}

body.create .tag-chain p {
color: #424242;
margin-bottom: 0px;
font-size: 13px;
}

body.create .tag-btn {background:#B7B7B7;}
body.create .tag-btn:hover {background:#C0202B;}
body.create .tag-btn:hover button {background:#C0202B; color:#fff;}
body.create .tag-btn:hover button:hover {background:#C0202B; color:#fff;}

body.create .tag-btn button {
padding: 10px 0;
}

body.create .tag-btn .btn-primary:hover, body.create .btn-primary:hover {
color: #C0202B;
background-color: transparent;
border-color: transparent;
}

.tag-row form#cred_form_661_1 {
display: inline-block;
float:none;
width: 90%;
}

.tag-row input {
background: #F69143;
border: none;
border-radius: 5px;
color: #fff;
font-weight: 200;
margin-top: 3px;
font-size: 14px;
padding: 2px 6px;
margin-left: 3px;
}

.tag-row input.myzebra-text {width: 80%!important;}
.tag-row .btn-primary {background: #F6F6F6;color: #444;}
.tag-row .tag-btn {background: transparent;padding: .3% 0% .3% 2%;}

/* ------- NEW TEMP CREATE PAGE ------- */
/* Displaying pieces instread of chains */

.wpv-filter-next-link {float: right;}
.wpv-filter-previous-link {float: left;}

.wpv-filter-next-link, .wpv-filter-previous-link {
color: #BF2129;
border: 1px solid #F0F0F0;
padding: 10px;
margin-bottom: 10px;
background-color:#FFF;
transition:background-color .3s ease;
}

.wpv-filter-next-link:hover, .wpv-filter-previous-link:hover {background-color:#DBDBDB;}



/* ==========================================================================
   EXPLORE
   ========================================================================== */



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }

.hentry footer {
background-color: transparent;
border-top: 1px solid #EBEBEB;
margin-top: 6%;
margin-bottom: 3%;
}

.entry-content h1 {
color: #bf2129;
font-size: 42px;
font-weight: 100;
margin-bottom: 3%;
margin-top:0;
}

.single-composition .date {
display: none;
}

/* ==========================================================================
   Donors
   ========================================================================== */

body.donors .container {margin: 0 auto;}
body.donors .grey {background: #F0F0F0;padding: 2% 0%;}
.sponsor-page.row.container {margin-top: 30px;}
body.donors h1 {font-size: 40px;font-weight: 100;color: #ac3234;text-align:center;margin-top: 40px;}

p.donors-top-text {
font-size: 22px;
color: #5E5E5E;
text-align: center;
line-height: 1.6;
font-weight: 100;
margin-top: 30px;
}

button.btn.btn-default.donation-btn {
margin: 0 auto;
font-size: 14px;
}

.atlas-sponsored {margin-top: 50px;color: #AFAFAF;margin-bottom: 50px;}

body.donors h3 {
color: #BF2129;
font-weight: 100;
font-size: 32px;
text-align: left;
margin-bottom: 10px;
border-bottom: 1px solid #EBEBEB;
padding-bottom: 10px;
border-bottom: :;
margin-top: 30px;
}

ul.twentyk-list li {
font-size: 24px!important;
font-weight: 500;
}

ul.tenk-list li {font-weight: 500;}

.donors ul.twentyk-list,
ul.tenk-list,
ul.fivek-list,
ul.onek-list,
ul.fivehunny-list,
ul.additional-list {
list-style: none;
padding-left: 0px;
text-align: center;
margin-bottom: 5%;
}

ul.sponsor-list > li {
display: inline-block;
width: 15%;
width: 90%;
height: auto;
margin: 5% 3%;
vertical-align:middle;
}
.sponsor-list img {
margin: 0 auto;
}
ul.sponsor-list {text-align: center; padding-left: 0px;}

ul.twentyk-list li,
ul.tenk-list li,
ul.fivek-list li,
ul.onek-list li,
ul.fivehunny-list li {
font-size: 18px;
line-height: 1.5em;
}

ul.additional-list {
font-size: 16px;
font-size: 12px;
line-height: 1.5em;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
-moz-column-count: 3; /* Firefox */
column-count: 3;
-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
-moz-column-gap: 40px; /* Firefox */
column-gap: 40px;
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
}

.last-board-member {margin-bottom:100px;}

/* ==========================================================================
   Contact
   ========================================================================== */

body.contact #consenses-about-banner {display:none;}
body.contact .container {margin: 0 auto;}

#frm_form_12_container {margin-top: 50px;}
#frm_field_121_container {width: 100%;}

body.contact label {
color: rgb(65, 65, 65);
font-family: 'proxima-nova';
font-weight: 300;
font-size: 18px;
}
.contact .home-events, .about .home-events {
margin: 0 auto;
}
body.contact fieldset input[type=text],
body.contact fieldset input[type=email],
body.contact fieldset textarea {
background: #F0F0F0;
border: none;
border-radius: 5px;
height: 45px;
width: 100%;
padding: 10px;
font-size: 18px;
color: #757575;
margin-bottom:10px;
}

body.contact fieldset textarea {height:145px!important;}

body.contact input[type="submit"] {
background-color: #BF2129;
border: none;
border-radius: 5px;
padding: 10px;
font-size: 22px;
color: #FFF;
transition:background-color .3s ease;
}

body.contact input[type="submit"]:hover,
body.contact input[type="submit"]:active {background-color: #E2131D;}


/* ============
  Facebook Album
  ================ */

.facebook-album-container {
margin: 0px auto;
max-width: 1170px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

footer {padding: 1%;color: #6b1116;background-color:#bf2129;margin-left: 0px!important;overflow: hidden;}
footer i {color: #6b1116;transition:color .3s ease;}
footer i:hover {color: #FFF;}
footer .caret {display: none;}

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

#social li a {
text-decoration: none;
color: #6b1116;
font-weight: 100;
font-size: 13px;
transition:color .3s ease;
}

#social li a:hover {color: #FFF;}

p.credits {
font-size: 13px;
margin-top: 20px;
text-align: center;
}

p.credits a {
color: rgb(231, 136, 136);
}

footer input[type=text] {
background: transparent;
border-radius: 0;
border: transparent;
border-bottom:1px solid #6b1116!important;
-wenkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

#menu-primary-navigation-1 {
list-style: none;
padding: 25px;
display: inline-block;
text-align: center;
}

#menu-primary-navigation-1>li {
display: inline-block;
padding: 10px;
}

#menu-primary-navigation-1>li>a{
   text-decoration: none;
   color: #6b1116 ;
   font-weight: 100;
   font-size: 13px;
   transition:color .3s ease;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: #D53A3A;
}

#menu-primary-navigation ul.dropdown-menu li a {
font-family: 'proxima-nova';
font-weight: 200;
color: #FFF;
text-transform: uppercase;
}

#menu-primary-navigation-1>li>a:hover {color:#FFF;}

.socials {
display: inline-block;
list-style: none;
width: 100%;
text-align: center;
padding-left: 0px;
}

.socials>li{
   display: inline-block;
}

.socials>li>a{
   padding: 15px;
   color: #000;
}

.socials>li>a>i>*{
   text-decoration: none;
}

.footer-logo{
   margin: 0 auto;
}


/* ==========================================================================
   Digital Exhibit
   ========================================================================== */

.exhibit {}

.exhibit .navbar {display:none;}

.exhibit .exhibit-header, .single-chains .exhibit-header  {text-align: center; background:#b4231e; color: #fff;}

.exhibit h1, .single-chains h1 {
color: #303030;
font-size: 62px;
font-weight: 100;
margin-bottom: 5%;
margin-top: 5%;
font-family:proxima-nova, sans-serif;
font-weight:100;
}

.exhibit h2, .single-chains h2 {font-family:proxima-nova, sans-serif; font-weight:100;color: #303030; text-align: center;}
.exhibit h3, .single-chains h3 {color:#999; text-align: center;}

.exhibit .tag-and-view, .single-chains .tag-and-view  {margin-top:30px;}

.exhibit .the-chain, .single-chains .the-chain {margin:80px auto;}
.exhibit .the-chain .chain-child img, .single-chains .the-chain .chain-child img {max-width:100%; margin:0px auto;}
.exhibit .the-chain .chain-row {}
.exhibit .the-chain .chain-row-1 .icon, .single-chains .the-chain .chain-row-1 .icon {display:none;}
.exhibit .the-chain .chain-row .icon, .single-chains .the-chain .chain-row .icon {text-align:center; font-size:32px; color:#999; padding:15px;}

.exhibit .the-chain .chain-row .chain-child, .single-chains .the-chain .chain-row .chain-child {
text-align: center;
max-width: 540px;
margin: 0px auto;
min-height: 220px;
height: auto;
border: 5px solid #999;
padding-bottom: 80%;
background-position: 50% 0px!important;
}

@media (min-width: 992px) {
.exhibit .the-chain .chain-row .chain-child, .single-chains .the-chain .chain-row .chain-child  {
text-align: center;
max-width: 540px;
margin: 0px auto;
min-height: 170px;
height: 540px;
padding-bottom:0px;
border: 5px solid #999;
}
}

.one-two.branch .icon,
.one-three.branch .icon,
.one-two-a.branch .icon,
.one-two-b.branch .icon {
transform:rotate(45deg);
-ms-transform:rotate(45deg); /* IE 9 */
-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.two-two.branch .icon,
.three-three.branch .icon,
.two-two-a.branch .icon,
.two-two-b.branch .icon {
transform:rotate(-45deg);
-ms-transform:rotate(-45deg); /* IE 9 */
-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
}


.exhibit footer .row {display:none;}
.exhibit footer {height:50px;}

.exhibit .modal {}
.exhibit .modal-dialog, .single-chains .modal-dialog {margin:0px; width:100%; background:#fff;}
.exhibit .single-art-modal .modal-header, .single-chains .single-art-modal .modal-header {min-height: 60px;}
.exhibit .single-art-modal .modal-content, .single-chains .single-art-modal .modal-content {margin-top:0px;box-shadow:0 0 0 0;-webkit-box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0;border:0px!important;}
.exhibit .single-art-modal .modal-footer, .single-chains .single-art-modal .modal-footer {
display: block;
background: #fff;
margin-top: 0px;
text-align: center;
padding: 0px;
}

.exhibit .single-art-modal .modal-footer button,
.exhibit .single-art-modal .modal-header button,
.single-chains .single-art-modal .modal-footer button,
.single-chains .single-art-modal .modal-header button  {width:100%;}

.exhibit .carousel-inner, .single-chains .carousel-inner {
position: relative;
overflow-y: scroll;
width: 100%;
height: 1100px;
}

.exhibit .img-video-tab img.attachment-large.img-responsive {
width: auto;
height: 650px;
margin: 0px auto;
}
.single-chains .img-video-tab img.attachment-large.img-responsive {
width: auto;
margin: 0px auto;
}

.exhibit .flexslider, .single-chains .flexslider {
margin: 15px 0 0px;
background: #fff;
border: 0px;
position: relative;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 0 0 0;
-moz-box-shadow: 0 0 0 0;
-o-box-shadow: 0 0 0 0;
box-shadow: 0 0 0 0;
zoom: 1;
}

.exhibit .flex-direction-nav a, .single-chains .flex-direction-nav a{
position: absolute;
bottom: -45px!important;
top: initial;
}

.exhibit .flex-control-nav, .single-chains .flex-control-nav {
border: 1px solid #ccc;
padding: 20px 0px 10px 0px;
top: -63px;
height: 55px;
position: absolute;
margin: 0px;
left: 0px;
}

.exhibit .flex-direction-nav, .single-chains .flex-direction-nav {
position: absolute;
top: -64px;
width: 100%;
height: 5px;
}

.exhibit .slide .thumbnail-art-img, .single-chains .slide .thumbnail-art-img {
background-color: #CCC;
height: 205px;
background-position: 50% 0px!important;
}

.exhibit .artist-sidebar, .single-chains .artist-sidebar {
border-left: 0px;
}

.digital-exhibit {}
.exhibit-chain-list  {margin:0px; padding:0px;}
.exhibit-chain-list li a {
border-bottom: 2px solid #ccc;
display: block;
margin-bottom: 15px;
background: #C0202B;
padding: 15px;
height: 100px;
color: #fff;
}
.exhibit-chain-list li a .col-sm-4 {height:70px;}
.exhibit-chain-list li a .col-sm-4 img {height:100%; width:auto;}

.exhibit .description br, .single-chains .description br {display:none;}
.exhibit .logo-img, .single-chains .logo-img {background-size:contain!important;}
.exhibit .credit, .single-chains .credit {margin-top:15px;}

.exhibit, .exhibit p, .single-chains p {font-size: 18px;}
.exhibit .gde-link, .single-chains .gde-link { display:none; }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; text-align:center;}
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */


@media (max-width:767px) {


.single-chains .alignright, .exhibit .alignright{
  float: none;
}
/* CREATE PAGE */
.create-opening h1 {font-size: 40px;}
body.create img.attachment-large.img-responsive {display: initial!important;}
body.create .border-top {padding: 0;}
body.create .artist-circle {
border-radius: 50%;
width: 120px!important;
height: 120px!important;
border: 4px solid #FFF;
overflow: hidden;
-webkit-box-shadow: 0 0 3px 3px rgba(000,000,000,1);
box-shadow: 0px 0px 3px 3px rgba(218, 218, 218, .9);
margin: 0 auto;
margin-top: 10px;
}

body.create .col-sm-9.create-artist-details {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

/* DONORS PAGE */
body.donors ul.additional-list {
font-size: 16px;
font-size: 14px;
text-align: left;
line-height: 1.5em;
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
column-gap: 30px;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
-o-column-break-inside: avoid;
-ms-column-break-inside: avoid;
column-break-inside: avoid;
}

/* ARTIST PROFILE */
body.single-artists .artist-artwork .item {
padding: 34%;
margin-bottom: 10px;
width: 100%;
height: auto;
display: block;
}

body.single-artists h2 {
text-align: center;
}

body.single-artists h1, body.single-artists .location, body.single-artists .mediums {
text-align: center;
}

/* FOOTER */
footer form.navbar-form.navbar-left {
width: 80%;
margin: 0 auto;
text-align: center;
}
footer div#social {
text-align: center;
margin: 0 auto;
width: 80%;
}

.artist-card-title {
margin-top: 17px;
float: left;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .single-chains .img-video-tab img.attachment-large.img-responsive {
height: 650px;
}
.single-chains .alignright, .exhibit .alignright{
  float: right;
}
.exhibit .col {max-width:90%; margin:0px auto;}

    /*MAILCHIMP*/
   #read-on input#mce-EMAIL {
width: 81%!important;
}
#read-on #mc_embed_signup input.button{
    width: 18%!important;
}
#mc_embed_signup input.button {
width: 27%!important;
}

header>.container {
background: #f8f8f8;
width: 768px;
}

.artist-card-title {
margin-top: initial;
}

.biz-card {height: 185px;}
.single-chains .biz-card {height:200px;}

#menu-primary-navigation li a {
padding: 25px 10px;
}

.navbar-form {display:none;}

.kill-row {
margin-left: -15px;
margin-right: -15px;
}

#menu-primary-navigation-1 {padding: 0px;}
.col {max-width:100%; margin:0px auto;}
.socials{
   width: initial;
}

.row.email-col {
height: 100px;
}

.welcome-box {min-width: 650px;}

ul.additional-list {
font-size: 16px;
}
body.donors h1 {font-size: 52px;}

ul.sponsor-list > li {
width: 15%;
}

/*.tag-btn {
padding:0px;
}*/

.tag-btn:hover {
background: #C0202B;
}

.artist-sidebar {
float: left;
}

.submit-btn {
padding: 10px 8px 2px 8px;
}

.chain-btn.btn {
padding: 24px 8px;
font-size: 15px;
}

.week-header .btn-container {width:auto;}

.home-events .btn-default {
font-size: 20px;
}

.week-header .btn-container {width:48.5%;}

.welcome-box h2 {font-size: 60px;}

.create .img-container, .test .img-container {
height: 330px;
background-position: 50% 0px!important;
}
.single-chains div.flex-viewport .description {
max-height: 1800px;
overflow-y: auto!important;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body.single-chains .modal {
max-width: none;
}

.chain-btn.btn {
padding: 20px 8px;
font-size: 20px;
}


input#mce-EMAIL {
width: 81%!important;
}
#mc_embed_signup input.button {
width: 18%!important;
font-size: 24px;
font-weight: 300;
}

header>.container {
width: 992px;
margin: 0px auto;
}

#menu-primary-navigation li a {
padding: 25px 4px;
}

.navbar-form {display:block;}

.col {max-width:80%; margin:0px auto;}

.home-top{
   padding-bottom: 20%;
}

.row.footer-nav {
height: 35px;
}

.artists .artist .artist-info {
text-align: center;
background: rgba(191, 33, 41, 0.8);
margin: 0px;
padding: 10px;
color: #fff;
position: absolute;
height: initial;
bottom: 0px;
width: 100%;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}
.home-events .btn-default {
font-size: 22px;
white-space: nowrap;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.single-chains .col {
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
}
.artists .artist .artist-info{opacity: 0;}
.home-events .btn-default {font-size: 27px;}

header>.container {
width: 1080px;
margin: 0px auto;
}

#menu-primary-navigation li a {
padding: 25px 9px;
}

.col {
width: 80%;
margin: 0px auto;
max-width: 1200px;
}

.container-full {width:100%!important;}
.home-events .btn-default {margin: 10% 0;}

.modal-lg {
width: 1000px!important;
margin: 0px auto!important;
}


}
